.repository-card {
  padding: 16px;
  background-color: #fff;
  border: 1px solid #d1d5da;
  border-radius: 3px;

  &-content {
    font-weight: bolder;
    color: #0366d6;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
  }

  &-file-svg {
    margin-right: 8px;
    width: 12px;
    height: 16px;
  }

  &-description {
    font-size: 12px;
    margin-bottom: 8px;
    margin-top: 8px;
    flex: 1;
    display: block;
  }

  &-language {
    font-size: 12px;
    margin-bottom: 0;

    .wrap {
      display: inline-block;
      margin-right: 16px;
      box-sizing: border-box;

      & .colored {
        position: relative;
        top: 1px;
        display: inline-block;
        width: 12px;
        height: 12px;
        border-radius: 50%;
      }

      & .text {
        margin-left: 5px;
        color: #586069 !important;
        display: inline-block;
      }
    }
  }
}
